<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zy.dao.TieziMapper">
  <resultMap id="BaseResultMap" type="com.zy.entity.Tiezi">
    <id column="tid" jdbcType="INTEGER" property="tid" />
    <result column="title" jdbcType="VARCHAR" property="title" />
    <result column="tcontent" jdbcType="VARCHAR" property="tcontent" />
    <result column="tdate" jdbcType="TIMESTAMP" property="tdate" />
    <result column="tnum1" jdbcType="INTEGER" property="tnum1" />
    <result column="tnum2" jdbcType="INTEGER" property="tnum2" />
    <result column="pid" jdbcType="INTEGER" property="pid" />
    <result column="uid" jdbcType="INTEGER" property="uid" />
    <result column="uname" jdbcType="VARCHAR" property="uname" />
    <result column="status" jdbcType="INTEGER" property="status" />
  </resultMap>
  <sql id="Base_Column_List">
    tid, title, tcontent, tdate, tnum1, tnum2, pid, uid, status
  </sql>

  <update id="TieziViewUpdate" parameterType="com.zy.entity.Tiezi">
    update tiezi set tnum1 = tnum1+1 where tid = tid = #{tid,jdbcType=INTEGER}
  </update>

  <insert id="replytie" parameterType="com.zy.entity.Replytiezi">
    insert into replytiezi ( tcontent,tdate,
                       pid, uid)
    values (#{tcontent,jdbcType=VARCHAR},#{tdate,jdbcType=TIMESTAMP},  #{pid,jdbcType=INTEGER}, #{uid,jdbcType=INTEGER})
  </insert>

  <update id="jiajing" parameterType="com.zy.entity.Tiezi">
    update tiezi
    set  status = 1
    where tid = #{tid,jdbcType=INTEGER}
  </update>

  <delete id="deleteTiezi" parameterType="java.lang.Integer">
    delete from tiezi
    where tid = #{tid,jdbcType=INTEGER}
  </delete>

  <insert id="huitie" parameterType="com.zy.entity.Replytiezi">
    insert into replytiezi ( tcontent,tdate,
                             pid, uid)
    values (#{tcontent,jdbcType=VARCHAR},#{tdate,jdbcType=TIMESTAMP},  #{pid,jdbcType=INTEGER}, #{uid,jdbcType=INTEGER})
  </insert>

  <insert id="fatie" parameterType="com.zy.entity.Tiezi">
    insert into tiezi (tid, title, tcontent,
                       tdate, tnum1, tnum2,
                       pid, uid, status)
    values (#{tid,jdbcType=INTEGER}, #{title,jdbcType=VARCHAR}, #{tcontent,jdbcType=VARCHAR},
            #{tdate,jdbcType=TIMESTAMP}, #{tnum1,jdbcType=INTEGER}, #{tnum2,jdbcType=INTEGER},
            #{pid,jdbcType=INTEGER}, #{uid,jdbcType=INTEGER}, #{status,jdbcType=INTEGER})
  </insert>

  <select id="replyTieziSingleShow" resultMap="BaseResultMap">
    select t1.*,t2.uname from replytiezi t1 left join users t2 on t1.uid = t2.uid where t1.pid = #{tid}
  </select>

  <select id="TieziSingleShow" resultMap="BaseResultMap">
    select
    <include refid="Base_Column_List" />
    from tiezi where tid = #{tid}
  </select>

  <select id="hottie"  resultMap="BaseResultMap">
    select
    <include refid="Base_Column_List" />
    from tiezi where status = 1 order by tdate desc limit 9
  </select>

  <select id="tieziTotal" parameterType="java.lang.String" resultMap="BaseResultMap">
    ${sql}
  </select>

  <select id="TieziShowPage" parameterType="java.lang.String" resultMap="BaseResultMap">
    ${sql}
  </select>

  <select id="TieziShow" resultMap="BaseResultMap">
    select
    <include refid="Base_Column_List" />
    from tiezi
    order by tdate desc
  </select>

  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from tiezi
    where tid = #{tid,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from tiezi
    where tid = #{tid,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.zy.entity.Tiezi">
    insert into tiezi (tid, title, tcontent, 
      tdate, tnum1, tnum2, 
      pid, uid, status)
    values (#{tid,jdbcType=INTEGER}, #{title,jdbcType=VARCHAR}, #{tcontent,jdbcType=VARCHAR}, 
      #{tdate,jdbcType=TIMESTAMP}, #{tnum1,jdbcType=INTEGER}, #{tnum2,jdbcType=INTEGER}, 
      #{pid,jdbcType=INTEGER}, #{uid,jdbcType=INTEGER}, #{status,jdbcType=INTEGER})
  </insert>
  <insert id="insertSelective" parameterType="com.zy.entity.Tiezi">
    insert into tiezi
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="tid != null">
        tid,
      </if>
      <if test="title != null">
        title,
      </if>
      <if test="tcontent != null">
        tcontent,
      </if>
      <if test="tdate != null">
        tdate,
      </if>
      <if test="tnum1 != null">
        tnum1,
      </if>
      <if test="tnum2 != null">
        tnum2,
      </if>
      <if test="pid != null">
        pid,
      </if>
      <if test="uid != null">
        uid,
      </if>
      <if test="status != null">
        status,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="tid != null">
        #{tid,jdbcType=INTEGER},
      </if>
      <if test="title != null">
        #{title,jdbcType=VARCHAR},
      </if>
      <if test="tcontent != null">
        #{tcontent,jdbcType=VARCHAR},
      </if>
      <if test="tdate != null">
        #{tdate,jdbcType=TIMESTAMP},
      </if>
      <if test="tnum1 != null">
        #{tnum1,jdbcType=INTEGER},
      </if>
      <if test="tnum2 != null">
        #{tnum2,jdbcType=INTEGER},
      </if>
      <if test="pid != null">
        #{pid,jdbcType=INTEGER},
      </if>
      <if test="uid != null">
        #{uid,jdbcType=INTEGER},
      </if>
      <if test="status != null">
        #{status,jdbcType=INTEGER},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.zy.entity.Tiezi">
    update tiezi
    <set>
      <if test="title != null">
        title = #{title,jdbcType=VARCHAR},
      </if>
      <if test="tcontent != null">
        tcontent = #{tcontent,jdbcType=VARCHAR},
      </if>
      <if test="tdate != null">
        tdate = #{tdate,jdbcType=TIMESTAMP},
      </if>
      <if test="tnum1 != null">
        tnum1 = #{tnum1,jdbcType=INTEGER},
      </if>
      <if test="tnum2 != null">
        tnum2 = #{tnum2,jdbcType=INTEGER},
      </if>
      <if test="pid != null">
        pid = #{pid,jdbcType=INTEGER},
      </if>
      <if test="uid != null">
        uid = #{uid,jdbcType=INTEGER},
      </if>
      <if test="status != null">
        status = #{status,jdbcType=INTEGER},
      </if>
    </set>
    where tid = #{tid,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.zy.entity.Tiezi">
    update tiezi
    set title = #{title,jdbcType=VARCHAR},
      tcontent = #{tcontent,jdbcType=VARCHAR},
      tdate = #{tdate,jdbcType=TIMESTAMP},
      tnum1 = #{tnum1,jdbcType=INTEGER},
      tnum2 = #{tnum2,jdbcType=INTEGER},
      pid = #{pid,jdbcType=INTEGER},
      uid = #{uid,jdbcType=INTEGER},
      status = #{status,jdbcType=INTEGER}
    where tid = #{tid,jdbcType=INTEGER}
  </update>
</mapper>